# API Configuration
# Для продакшна:
VITE_API_BASE_URL=https://api-splitify.vadimsemenko.ru/api
# Для разработки:
# VITE_API_BASE_URL=http://localhost:4041/api

# Socket.io Configuration
# Для продакшна:
VITE_SOCKET_URL=https://api-splitify.vadimsemenko.ru
# Для разработки:
# VITE_SOCKET_URL=http://localhost:4041

# Telegram Bot Configuration
VITE_TELEGRAM_BOT_TOKEN=your_bot_token_here
VITE_TELEGRAM_BOT_USERNAME=your_bot_username
VITE_TELEGRAM_BOT_NAME=splitify_tg_bot

# App Configuration
VITE_APP_NAME=Crypto Split Bill
VITE_APP_VERSION=1.0.0

# Payment Configuration
VITE_TON_WALLET_ADDRESS=your_ton_wallet_address
VITE_USDT_CONTRACT_ADDRESS=your_usdt_contract_address
